body
{
    margin:0;
    padding: 0;

}
.logocontainer
{
    width:100%;
    text-align:center;
}
.logocontainer h1
{
    margin: 75px;
}
.navlogo
{
    width:15%;
    text-align:center;
}
.navbar
{
    text-align:center;
    margin-bottom:5%;
}
.navbar ul
{
    font-family:Arial, Helvetica, sans-serif;
    list-style-type:none;
    letter-spacing:3px;
    display:inline;
    color:black;
    text-align:center;
}
.navbar li
{
    display:inline;
    margin-right:5%;
    text-align:center;
}
.navbar a
{
    text-decoration:none;
    color:black;
}
.navbar a:hover
{
    color:rgb(228, 143, 157);
}
.navbar a:focus
{
    outline:none;
}
.indexlink2
{
    margin-left:-3%;
}
/*products stuff*/
.productfilters
{
    background-color:white;
    border:1px solid pink;
    width:18%;
    height:inherit;
    margin-left:5%;
    display:block;
    float:left;
    margin-bottom:10%;
}
.prodbody
{
    width:60%;
    background-color:white;
    display:inline-block;
    margin-left:1%;
}
.prodcontainer
{
    width:30%;
    background-color:white;
    display:inline-block;
    margin-left:1%;
    margin-bottom:5%;
}
.viewbtn
{
    background-color:rgb(216, 109, 127);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
    color:white;
    text-align:center;
    padding-top: 5%;
    padding-bottom:5%;
    cursor:pointer;
}
.viewbtn>a
{
    text-decoration:none;
    letter-spacing:5px;
    color:white;
    font-weight:bold;
}
.viewbtn:hover
{
    opacity:0.8;
}
.prodimg
{
    background-color:white;
    height:300px;
    align-items:center;

    margin-bottom:1%;
}
.prodimg img
{
    width:100%;
    margin:0 auto;

}
.prodname
{
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    padding:7px;
    color:rgb(34, 34, 34);
}
.prodprice
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:18px;
    padding:12px;
    bottom:0;
    color:rgb(120, 189, 99);
    text-align:left;
}
.allprodhead
{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
    margin-left: 5%;
}
/*product filter*/
.filterchoices
{
    border:none;
    background-color:white;
    font-size:15px;
    letter-spacing:2px;
    display:flex;
    width:100%;
    color:black;
    padding-left:10%;
    cursor:pointer;
    padding-top:2.5%;
    padding-bottom:2.5%;

}
.filter>input:active
{
    background-color:pink;
}
.filterchoices:hover
{
    color:white;
    background-color:pink;
}
.filterchoices:active
{
    background-color:rgb(231, 138, 153);
}
.filterchoices:focus
{
    outline:none;
    background-color:rgb(231, 138, 153);
}
/*sample php*/
.proddisplay
{
    width:80%;
    background-color:white;
    height:500px;
    margin-bottom:10%;
    display:block;
    margin:auto;
    margin-top:5%;
}
.displayimg
{
    width:50%;
    background-color:white;
    height:500px;
    display:inline-block;
}
.displayimg>img
{
    width:100%;
    margin:0 auto;
}
.displayinfo
{
    width:50%;
    background-color:white;
    height:inherit;
    display:block;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
}
.displayname
{
    font-size:25px;
    font-weight:bold;
    margin-left:5%;
    margin-bottom:0;
    letter-spacing:2px;
}
.displaycategory
{
    margin-left:5%;
    margin-top:5px;
    font-size:15px;
}
.displayprice
{
    font-size:20px;
    font-weight:bold;
    margin-left:5%;
    letter-spacing:2px;
    color:rgb(28, 175, 52);
}
.description
{
    background-color:white;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    height:220px;
    border-top:1px solid black;
    padding-top:1%;

}
.stockinfo
{
    margin-left:5%;
}
.addcart
{
    margin-top:2%;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    border:none;
    background-color:rgb(124, 221, 172);
    color:white;
    font-weight:bold;
    font-size:30px;
    cursor:pointer;
}
.addcart:hover
{
    opacity:0.8;
}

#choice:active{
    background: green;
}
.itemalert
{
    margin-left:5%;
    color:rgb(211, 32, 32);
}
.userlogin
{
    text-align:center;
}
.userlogin>a
{
    text-decoration:none;
    color: white;
    outline:none;
}
.loginbtn
{
    display:inline-block;
    background-color:rgb(248, 158, 173);
    width:45%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    font-weight:bold;
    letter-spacing:5px;
    color: white;
    margin-right:5%;
}
.regbtn
{
    display:inline-block;
    background-color:rgb(137, 210, 235);
    width:45%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    font-weight:bold;
    letter-spacing:5px;
    color: white;
}
.loginbtn:hover, .regbtn:hover
{
    opacity:0.8;
}
.returnbtn
{
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    width:50%;
    margin-top:5%;
    margin-left:10%;
    margin-bottom:5%;
    color:rgb(131, 71, 150);
}
.returnbtn:hover
{
    text-decoration:underline;
}
.qtytag
{
    display:inline-block;
    margin-left:5%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    font-size:17px;
}
.qtyboxdiv
{
    display:inline-block;  
    margin-left:2%; 
}
.qtybox
{
    border:none;
    border-bottom:1px solid black;
    outline:none;
    padding-top:2.5%;
    padding-bottom:2.5%;
    width:100%;
}
/*footer css*/
.footer
{
    background-color:black;
    width:100%;
    margin-top:10%;
    height:300px;
    display:block;
    margin:0;
    text-align:center;
}
.footercontent
{
    width:90%;
    margin-left:10%;
    margin-right:10%;
    margin-top:10%;
}
.ft1, .ft2, .ft3
{
    color:white;
    background-color:black;
    width:25%;
    margin-top:4%;
    height:200px;
    display: inline-block;
    text-align:left;
}
.ft3
{
    margin-left:5%;
}

.ft1, .ft3
{
    float:left;
}
.ft1>h4
{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
    margin-left:1.2%;
}
.fblink
{
    border-bottom:1px solid white;
    padding-bottom:5%;
}
.fblink>a
{
    display:inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-decoration:none;
    font-size:12px;
    margin-top:3%;
    margin-left:2%;
}
.fblink>a:hover
{
    text-decoration:underline;
}
.fblink>img
{
    width:10%;
    float:left;
}
.footlogreg
{

    margin-top:5%;
    margin-bottom:5%;
}
.footlog, .footreg
{
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    border:1px solid white;
    border-radius:25px;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    text-align:center;
}
.footlog:hover, .footreg:hover
{
    background-color:white;
    color:black;
}
.navlistfoot>ul
{
    list-style-type:none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
}
.navlistfoot>ul>a, .navlistfoot>ul>li
{
    color:white;
    text-decoration:none;
    line-height:30px;
}
.fthelphead
{
    font-weight:normal;
    letter-spacing:2px;
    font-family: Arial, Helvetica, sans-serif;
}
.cntctlink
{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    letter-spacing:2px;
}
.badge
{
    background-color:palevioletred;
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    margin:auto;
    text-align:center;
    color:white;
    border-radius:25px;
    font-weight:bold;
}